{% if coastal_issues %}
<section id="datasets" style="background: white">
    <div class="container">
        <div class="row">
            <div class="container text-center">
                <h1>Discover the available Issues.</h1>
                <div class="container">
                    <div class="row">
                        {% for coastal_issue in coastal_issues %}
                            <div class="col-xl-4 col-lg-4 col-md-4" style="margin-top:30px;">
                                <div class="card border-0 shadow">
                                    {% if coastal_issue.thumbnail %}
                                        <a href="{{ coastal_issue.url }}">
                                            <img src="{{ coastal_issue.thumbnail.file.url }}"
                                                 style="width: 100%; max-width: 100%" class="card-img-top"
                                                 alt="{{ coastal_issue.title }}"></a>
                                    {% endif %}
                                    <div class="card-body text-center">
                                        <a href="{{ coastal_issue.url }}"><h3
                                                class="card-title mb-0">{{ coastal_issue.title }}</h3></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}