{% extends "geonode_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static from staticfiles %}
{% load i18n %}
{% load base_tags %}
{% load client_lib_tags %}


{% block title %} {{ page.title }} — {{ block.super }} {% endblock %}

{% block body_outer %}


    <div class="page-header">
        <h2>{{ page.title }}</h2>
    </div>

    {{ page.body }}

    <hr/>


    {% if page.gallery_images %}
        <div class="row">
            {% for item in page.gallery_images.all %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        {% image item.image fill-250x250 %}
                    </div>
                </div>
            {% endfor %}
        </div>
    <hr/>
    {% endif %}



{% endblock %}






