
{% extends "geonode_base.html" %}
{% load mathfilters %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static from staticfiles %}
{% load i18n %}
{% load base_tags %}
{% load client_lib_tags %}


{% block title %} {{ page.title }} — {{ block.super }} {% endblock %}

{% block body_outer %}

    <link href="{% static "cartoview_cms/css/cartoview_cms_geo_page.css" %}?v={{ VERSION }}" rel="stylesheet"/>

    <div class="page-header">
        <h2>{{ page.title }}</h2>
    </div>

    {{ page.body }}

    <hr/>


    {% if page.gallery_images %}
        <div class="row">
            {% for item in page.gallery_images.all %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        {% image item.image fill-250x250 %}
                    </div>
                </div>
            {% endfor %}
        </div>
    <hr/>
    {% endif %}


    {% if case_studies %}
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Case Studies ({{ case_studies.count }})</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        {% for case_study in case_studies%}
                            <li><a href="{% pageurl case_study %}">{{ case_study.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    {% if news_items %}
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">News & Events ({{ news_items.count }})</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        {% for news_item in news_items%}
                            <li><a href="{% pageurl news_item %}">{{ news_item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    {% if maps %}
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3">Maps ({{ maps.count }})</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        {% for map in Map%}
                            <li><a href="{{ map.get_absolute_url }}">{{ map.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if countries %}
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse4">Countries ({{ countries.count }})</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        {% for country in countries%}
                            <li><a href="{% pageurl country %}">{{ country.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


{% endblock %}






