{% load wagtailcore_tags %}
{% load static from staticfiles %}
<link href="{% static "cartoview_cms/css/cartoview_cms_countries_index.css" %}?v={{ VERSION }}" rel="stylesheet"/>
{% if documents %}
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse4">Documents ({{ documents.count }})</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        {% for document in documents %}
                            <div class="col-sm-2">
                                <div class="card img-responsive" style="width:100%">
                                    <a href="{{ document.get_absolute_url }}">
                                        <img src="{{ document.thumbnail_url }}"/>
                                    </a>
                                    <div class="card-body" style="padding-top: 10px">
                                        <strong>{{ document.title }}</strong>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}