{% load wagtailcore_tags wagtailimages_tags %}
{% load static from staticfiles %}
<link href="{% static "cartoview_cms/css/cartoview_cms_geo_page_news.css" %}?v={{ VERSION }}" rel="stylesheet"/>
{% if news_items %}
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">News & Events ({{ news_items.count }})</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        {% for news_item in news_items %}
                            {% with news_item=news_item.specific %}
                                <div class="col-sm-4">
                                    <div class="card img-responsive" style="width:100%">
                                        <a href="{% pageurl news_item %}">
                                            {% with news_item.thumbnail as main_image %}
                                                {% if main_image %}{% image main_image width-1000 %}{% endif %}
                                            {% endwith %}
                                        </a>
                                        <div class="card-body" style="padding-top: 10px">
                                            <strong>{{ news_item.title }}</strong>
                                        </div>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}