{% extends "geonode_base.html" %}
{% load static wagtailcore_tags widget_tweaks %}
{% load coderedcms_tags bootstrap4 %}
{% load i18n %}
{% load base_tags %}
{% load client_lib_tags %}


{% block title %} {{ page.title }} — {{ block.super }} {% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h2>{{ page.title }}</h2>
    </div>

    {{ page.intro|richtext }}
    <form
        id='{{ page.form_id }}'
        action="{% pageurl self %}"
        method="POST"
        {% if form|is_file_form %}enctype="multipart/form-data"{% endif %}
    >
        {% csrf_token %}

        {% block captcha %}
            {% if page.spam_protection %}
                {% include 'coderedcms/includes/form_honeypot.html' %}
            {% endif %}
        {% endblock %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class+="form-control" %}
            </div>
        {% endfor %}

        <div class="{{ 'horizontal_field_class'|bootstrap_settings }}">
            <button type="submit" class="btn {{ page.button_size }} {{ page.button_style }} {{ page.button_css_class }}">
                {{ page.button_text }}
            </button>
        </div>
    </form>

{% endblock %}






