{% extends "geonode_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static from staticfiles %}
{% load i18n %}
{% load base_tags %}
{% load client_lib_tags %}


{% block title %} {{ page.title }} — {{ block.super }} {% endblock %}

{% block body_outer %}
    <link href="{% static "cartoview_cms/css/cartoview_cms_countries_index.css" %}?v={{ VERSION }}" rel="stylesheet"/>

    <div class="page-header">
        <h2>{{ page.title }}</h2>
    </div>

    <div class="container">
        <div class="row row-margin-bottom">
            {% for country in countries %}
                {% with country=country.specific %}
                    <div class="col-md-5 no-padding lib-item" data-category="view">
                        <div class="lib-panel">
                            <div class="row box-shadow">
                                <div class="col-md-6">
                                    <a href="{% pageurl country %}">
                                        {% with country.main_image as main_image %}
                                            {% if main_image %}{% image main_image width-1000 %}{% endif %}
                                        {% endwith %}
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <div class="lib-row lib-header">
                                        <a href="{% pageurl country %}">{{ country.title }}</a>
                                        <div class="lib-header-seperator"></div>
                                    </div>
                                    <div class="lib-row lib-desc">
                                        {{ country.abstract }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                {% endwith %}
            {% endfor %}
        </div>

    </div>

{% endblock %}