{% extends "geonode_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static from staticfiles %}
{% load i18n %}
{% load base_tags %}
{% load client_lib_tags %}

{% block title %} {{ page.title }} — {{ block.super }} {% endblock %}

{% block body_outer %}
    <link rel="stylesheet" type="text/css" href="{% static 'coderedcms/css/codered-front.min.css' %}"/>
    <link href="{% static "cartoview_cms/css/generic_module/generic_module_default.css" %}?v={{ VERSION }}"
          rel="stylesheet"/>

    {% if self.cover_image %}
        {% image page.cover_image fill-2000x1000 as cover_image %}
        <div class="hero-bg mb-5" style="background-image:url({{ cover_image.url }});">
            <div class="hero-fg">
                <div class="container">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container my-5">
            <h1>{{ page.title }}</h1>
        </div>
    {% endif %}

    <div class="intro">
        {% include_block page.body with settings=settings %}
    </div>

    <section class="blog-me pt-100 pb-100" id="blog">
        <div class="container">
            <div class="row">
                {% for resource in resources %}
                    {% with resource=resource.specific %}
                        <div class="col-lg-4 col-md-4">
                            <!-- Single Item -->
                            <div class="single-blog">
                                <div class="blog-img">
                                    {% with resource.thumbnail as thumbnail %}
                                        {% if thumbnail %}{% image thumbnail fill-370x288 %}{% endif %}
                                    {% endwith %}
                                </div>
                                <div class="blog-content">
                                    <div class="blog-title">
                                        <h4><a href="{% pageurl resource %}">{{ resource.title }}</a></h4>
                                        <div class="meta">
                                            <ul>
                                                <li>{{ resource.date }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% if resource.abstract %}
                                        <p class="card-text">{{ resource.abstract|truncatewords:15 }}</p>
                                    {% endif %}
                                    <a href="{% pageurl resource %}" class="btn read-more">Read More</a>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </section>

    {% if num_pages > 1 %}
        <ul class="pagination">
            {% if resources.has_previous %}
                <li>
                    <a href="?page={{ resources.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                </li>
            {% endif %}
            {% for page_num in resources.paginator.page_range %}
                <li {% if page_num == resources.number %} class="active"{% endif %}>
                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
            {% endfor %}
            {% if resources.has_next %}
                <li>
                    <a href="?page={{ resources.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}






