{% extends "geonode_base.html" %}
{% load wagtailcore_tags %}
{% load i18n %}
{% load base_tags %}
{% load client_lib_tags %}


{% block title %} {{ page.title }} — {{ block.super }} {% endblock %}

{% block body_outer %}
    <div style="margin-top:150px"></div>
    <div class="page-header">
        <h2>{{ page.title }}</h2>
    </div>

    {{ page.body }}

    <div class="row">
        <div class="col-lg-11">
            <hr/>
            {% get_map_detail %}
            <div id="the_map"></div>
        </div>
    </div>

{% endblock %}






