{% extends "geonode_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% load base_tags %}
{% load client_lib_tags %}


{% block title %} {{ page.title }} — {{ block.super }} {% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h2>{{ page.title }}</h2>
    </div>

    <p class="meta">{{ page.date }}</p>

    <div class="intro">{{ page.intro }}</div>

    {{ page.body|richtext }}

    <div class="row">
        {% for item in page.gallery_images.all %}
            <div style="float: left; margin: 10px">
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
        {% endfor %}
    </div>
    {% if page.tags.all.count %}
        <div class="row">
            <div class="tags">
                <h3>Tags</h3>
                <div class="btn-group" role="group" aria-label="Tags">
                    {% for tag in page.tags.all %}
                        <a href="{% slugurl 'news-tags' %}?tag={{ tag }}" class="btn btn-primary" style="margin-right: 10px">
                            {{ tag }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% with categories=page.categories.all %}
        {% if categories %}
            <div class="row">
                <h3>Posted in:</h3>
                <div class="btn-group" role="group" aria-label="Tags">
                    {% for category in categories %}
                        <a href="{% slugurl 'news-categories' %}?category={{ category }}" class="btn btn-primary" style="margin-right: 10px">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}
    <hr/>
    <div class="row"><a href="{{ page.get_parent.url }}" class="btn btn-warning">Return to news</a></div>

{% endblock %}






