{% extends "geonode_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static from staticfiles %}
{% load i18n %}
{% load base_tags %}
{% load client_lib_tags %}


{% block title %} {{ page.title }} — {{ block.super }} {% endblock %}

{% block body_outer %}
    <link href="{% static "cartoview_cms/css/cartoview_cms_news_index.css" %}?v={{ VERSION }}" rel="stylesheet"/>

    <div class="page-header">
        <h2>{{ page.title }}</h2>
    </div>

    <div class="intro">{{ page.intro|richtext }}</div>
    <section class="blog-me pt-100 pb-100" id="blog">
        <div class="container">
            <div class="row">
                {% for newsitem in newsitems %}
                    {% with newsitem=newsitem.specific %}
                        <div class="col-lg-3 col-md-4">
                            <!-- Single Blog -->
                            <div class="single-blog">
                                <div class="blog-img">
                                    {% with newsitem.thumbnail as main_image %}
                                        {% if main_image %}{% image main_image fill-370x288 %}{% endif %}
                                    {% endwith %}
                                </div>
                                <div class="blog-content">
                                    <div class="blog-title">
                                        <h4><a href="{% pageurl newsitem %}">{{ newsitem.title }}</a></h4>
                                        <div class="meta">
                                            <ul>
                                                <li>{{ newsitem.date }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>{{ newsitem.intro }}</p>
                                    <a href="{% pageurl newsitem %}" class="box_btn">read more</a>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </section>


    <ul class="pagination">
        {% if newsitems.has_previous %}
            <li>
                <a href="?page={{ newsitems.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
            </li>
        {% endif %}
        {% for page_num in newsitems.paginator.page_range %}
            <li {% if page_num == newsitems.number %} class="active"{% endif %}>
                <a href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
        {% endfor %}
        {% if newsitems.has_next %}
            <li>
                <a href="?page={{ newsitems.next_page_number }}"><i class="fa fa-angle-right"></i></a>
            </li>
        {% endif %}
    </ul>

{% endblock %}






