{% extends "geonode_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% load base_tags %}
{% load client_lib_tags %}


{% block title %} {{ page.title }} — {{ block.super }} {% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h2>{{ page.title }}</h2>
    </div>

    <div class="intro">{{ page.intro|richtext }}</div>

    {% for newsitem in newsitems %}
        {% with newsitem=newsitem.specific %}
            <h2><a href="{% pageurl newsitem %}">{{ newsitem.title }}</a></h2>

            {% with newsitem.main_image as main_image %}
                {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
            {% endwith %}

            <p>{{ newsitem.intro }}</p>
        {% endwith %}
    {% endfor %}

{% endblock %}






