{% extends "geonode_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% load base_tags %}
{% load client_lib_tags %}


{% block title %} {{ page.title }} — {{ block.super }} {% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h2>{{ page.title }}</h2>
    </div>

    {% for training in trainings %}

          <p>
              <strong><a href="{% pageurl training %}">{{ training.title }}</a></strong>
          </p>

    {% empty %}
        No Training found.
    {% endfor %}


{% endblock %}






