.carousel .item img {
    margin: 0 auto;
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.carousel-caption {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    top: 35%;
}

.block-text {
    background: rgba(37, 29, 58, 0.4);
    padding: 25px;
    border-radius: 10px;
}

.block-text p {
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .carousel-caption {
        top: 24%;
    }
}