{% extends "wagtailadmin/base.html" %}
{% load wagtailimages_tags wagtailsettings_tags staticfiles %}


{% block branding_logo %}
    {% if settings.coderedcms.LayoutSettings.logo %}
        {% image settings.coderedcms.LayoutSettings.logo max-300x300 as logo_image %}
        <img src="{{ logo_image.url }}" class="logo-custom" alt="Dashboard"/>
    {% else %}
        <div class="wagtail-logo-container__mobile u-hidden@medium">
            <img class="wagtail-logo wagtail-logo__full" src="{% static 'images/logo.png' %}" alt="Wagtail" width="80"/>
        </div>

        {# Desktop logo (animated): #}
        {% include "wagtailadmin/shared/animated_logo.html" %}
    {% endif %}
{% endblock %}
