{% extends "geonode_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static from staticfiles %}
{% load i18n %}
{% load base_tags %}
{% load client_lib_tags %}


{% block title %} {{ page.title }} — {{ block.super }} {% endblock %}

{% block body_outer %}


    <div class="page-header">
        <h2>{{ page.title }}</h2>
    </div>

    {% with page.main_image as main_image %}
        {% if main_image %}{% image main_image width-1000 %}{% endif %}
    {% endwith %}

    {{ page.body }}

{% endblock %}






