{% extends "geonode_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% load base_tags %}
{% load client_lib_tags %}


{% block title %} {{ page.title }} — {{ block.super }} {% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h2>{{ page.title }}</h2>
    </div>
    <div class="container">
        <div class="row">
            {% for organization in organizations %}
                {% with organization=organization.specific %}
                    <div class="col-lg-2">
                        <div class="card border-primary">
                            <a href="{{ organization.link }}" target="_blank">
                                {% with organization.thumbnail as main_image %}
                                    {% if main_image %}{% image main_image width-1000 %}{% endif %}
                                {% endwith %}
                            </a>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock %}






