{% extends "geonode_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% load base_tags %}
{% load client_lib_tags %}


{% block title %} {{ page.title }} — {{ block.super }} {% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h2>{{ page.title }}</h2>
    </div>
    <div class="card-deck">
        {% for organization in organizations %}
            {% with organization=organization.specific %}
                <div class="card">
                    <a href="{% pageurl organization %}">
                        {% with organization.main_image as main_image %}
                            {% if main_image %}{% image main_image width-1000 %}{% endif %}
                        {% endwith %}
                    </a>
                    <div class="card-body">
                        <h3 class="card-title"><a href="{% pageurl organization %}">{{ organization.title }}</a></h3>
                        <p class="card-text">{{ organization.intro }}</p>
                    </div>
                </div>
                <hr/>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}






